.poster-container {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: black;
  overflow: hidden;
  font-family: monospace;
  color: white;
}

.poster-container.light .artist-background {
  background-color: rgba(0, 0, 0, 0.3);
  transition: background-color 1s ease;
}

.poster-container.dark .artist-background {
  background-color: rgba(0, 0, 0, 0.7);
  transition: background-color 1s ease;
}

.artist-background-grid {
  position: absolute;
  inset: 0;
  display: grid;
  grid-template-columns: repeat(40, 1fr);
  grid-auto-rows: 1fr;
  gap: 4px;
  padding: 10px;
  z-index: 1;
  pointer-events: none;
}

.grid-cell {
  font-size: clamp(10px, 1vw, 16px);
  font-family: 'Arial', sans-serif;
  color: rgb(154, 154, 154);
  text-align: center;
  font-size: large;
  line-height: 1;
  opacity: 0;
  transform: scale(0.8);
  animation: appear 0.6s ease-in-out forwards;
  animation-delay: calc(var(--mod-i) * 0.03s);
  white-space: nowrap;
}

.grid-cell.visible {
  opacity: 1;
  color: rgba(255, 255, 255, 0.08);
}

.grid-cell.invisible {
  opacity: 0;
  color: transparent;
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: scale(0.5);
    filter: blur(2px);
  }
  100% {
    opacity: 1;
    transform: scale(1);
    filter: blur(0);
  }
}

.festival-title {
  position: absolute;
  font-size: 3vw;
  font-weight: bold;
  z-index: 2;
  user-select: none;
  white-space: nowrap;
}

.poster-container {
  cursor: none;
}

.custom-cursor {
  position: fixed;
  width: 30px;
  height: 30px;
  background-color: #00ff00;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 1000;
  mix-blend-mode: difference;
  transition: transform 0.05s ease;
}

.border {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, lime 50%, transparent 50%), linear-gradient(90deg, lime 50%, transparent 50%), linear-gradient(0deg, lime 50%, transparent 50%), linear-gradient(0deg, lime 50%, transparent 50%);
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: 15px 4px, 15px 4px, 4px 15px, 4px 15px;
  background-position: 0px 0px, 200px 100px, 0px 100px, 200px 0px;
  z-index: 3;
  pointer-events: none;
  animation: border-dance 4s infinite linear;
}
@keyframes border-dance {
  0% {
    background-position: 0px 0px, 300px 100%, 0px 150px, 100% 0px;
  }
  100% {
    background-position: 300px 0px, 0px 100%, 0px 0px, 100% 150px;
  }
}